<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>传值.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0453D49E1CA0D31C00542BD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0453D4B71CA0D31D00542BD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0453D4C21CA0D31D00542BD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
